.custom-form .submit-btn{
    background:blue;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.custom-form .submit-btn:hover{
    background:black !important;
}