scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/myproject
        create path (nt:unstructured) /content/dam/myproject/jcr:content
        set properties on /content/dam/myproject/jcr:content
        set cq:conf{String} to /conf/myproject
        set jcr:title{String} to \"My Project\"
        end
        "
]
